@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  padding: 20px;
  background: linear-gradient(to right, #ffe0b3, #ffcc99); /* warna soft */
  animation: fadeIn 1.5s ease-in-out;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(30, 19, 0);
  text-shadow: 0 0 10px rgb(60, 37, 1);
}

.gambar-container {
  margin: 0 auto 30px auto;
  background-color: rgb(248, 240, 230);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(151, 91, 91, 0.1);
  animation: fadeIn 2s ease-in-out;
  width: 100%;
  max-width: 900px;
}

.judul-gambar {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
  animation: fadeIn 2.5s ease-in-out;
  text-shadow: 0 0 10px rgb(109, 67, 0);
}

/* Wrapper untuk gambar + deskripsi */
.konten-gambar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.konten-gambar img {
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  animation: fadeIn 1.5s ease-in-out;
  height: auto;
}

.konten-gambar .deskripsi {
  width: 48%;
  font-size: 15px;
  color: #555;
  animation: fadeIn 1.5s ease-in-out 0.5s;
  text-align: justify;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsif untuk ponsel */
@media (max-width: 884px) {
  body {
    padding: 10px;
  }

  .konten-gambar {
    flex-direction: column;
  }

  .konten-gambar img,
  .konten-gambar .deskripsi {
    width: 60%;
    height: auto;
  }

  .gambar-container {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    box-shadow: none;
  }

  .judul-gambar {
    font-size: 18px;
  }

  .deskripsi {
    font-size: 14px;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .gambar-container {
    width: 800px;
  }
}
